@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.font_all{
    font-family: 'Libre Baskerville', serif;
}